<div class="topo-titulo">
  <h2>Fornecedores</h2>
  <input
    type="text"
    placeholder="Filtrar por nome ou CPF/CNPJ"
    [(ngModel)]="filtro"
    (input)="aplicarFiltro()"
    name="filtro"
  />
  <button class="cadastrar" (click)="cadastrar()">
    ➕ Cadastrar Fornecedor
  </button>
</div>
<div class="tabela-container">
  <table *ngIf="fornecedoresPaginados.length > 0">
    <thead>
      <tr>
        <th>Nome</th>
        <th>CPF/CNPJ</th>
        <th>Email</th>
        <th>Cep</th>
        <th>Cidade</th>
        <th>Estado</th>

        <th>Rg</th>
        <th>Data Nascimento</th>
        <th>Empresa</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let fornecedor of fornecedoresPaginados">
        <td>{{capitalizarNome(fornecedor.nome)  }}</td>
        <td>{{ formatarCpfCnpj(fornecedor.cpfCnpj) }}</td>
        <td>{{ fornecedor.email }}</td>
        <td>{{ formatarCep(fornecedor.cep) }}</td>
        <td>{{ fornecedor.cidade }}</td>
        <td>{{ fornecedor.estado }}</td>
        <td>
          {{
            ehPessoaJuridica(fornecedor.cpfCnpj)
              ? "Pessoa Jurídica"
              : formatarRg(fornecedor.rg)
          }}
        </td>
        <td>
          {{
            ehPessoaJuridica(fornecedor.cpfCnpj)
              ? "Pessoa Jurídica"
              : formatarData(fornecedor?.dataNascimento)
          }}
        </td>

        <td>
          <ul
            *ngIf="fornecedor.empresas?.length > 0; else semEmpresas"
            style="padding: 0; margin: 5px 0"
          >
            <li
              *ngFor="let empresas of fornecedor.empresas"
              style="list-style-type: none; margin: 5px 0 0 0"
            >
              <a
                [routerLink]="['/empresas', empresas.id]"
                style="text-decoration: none; color: blue"
              >
                {{capitalizarNome( empresas.nomeFantasia) }}
              </a>
            </li>
          </ul>
          <a [routerLink]="['/empresas/cadastrar']">Cadastrar Empresas</a>
          <ng-template #semEmpresas>
            <span style="display: block; margin-bottom: 5px"
              >Sem empresas associadas</span
            >
          </ng-template>
        </td>
        <td>
          <button class="btn visualizar" (click)="visualizar(fornecedor)">
            👁️
          </button>
          <button class="btn editar" (click)="editar(fornecedor)">✏️</button>
          <button class="btn excluir" (click)="deletar(fornecedor)">🗑️</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="fornecedoresPaginados.length === 0" class="sem-registros">
    Nenhum fornecedor encontrado.
  </div>
</div>
<!-- modal de detalhe -->
<div class="modal" [class.show]="modalAberto">
  <div class="modal-conteudo">
    <span class="fechar" (click)="fecharModal()">&times;</span>
    <h3>Detalhes do Fornecedor</h3>
    <p><strong>Nome:</strong> {{capitalizarNome(fornecedorSelecionado?.nome)  }}</p>
    <p><strong>CPF/CNPJ:</strong> {{ formatarCpfCnpj(fornecedorSelecionado?.cpfCnpj|| '') }}</p>
    <p><strong>Email:</strong> {{ fornecedorSelecionado?.email }}</p>
    <p><strong>CEP:</strong> {{ fornecedorSelecionado?.cep }}</p>
   
    <p><strong>RG:</strong>
      {{
        ehPessoaJuridica(fornecedorSelecionado?.cpfCnpj)
          ? "Pessoa Jurídica"
          : formatarRg(fornecedorSelecionado?.rg || '')
      }}
      
    </p>
    <p>
      <strong>Data Nascimento:</strong>
      {{
        ehPessoaJuridica(fornecedorSelecionado?.cpfCnpj)
          ? "Pessoa Jurídica"
          : formatarData(fornecedorSelecionado?.dataNascimento|| '')
      }}

     
    </p>
    <p><strong>Empresas:</strong></p>
    <ul
      *ngIf="fornecedorSelecionado?.empresas?.length > 0; else semEmpresasModal"
    >
      <li *ngFor="let emp of fornecedorSelecionado?.empresas">
        <strong>{{capitalizarNome(emp.nomeFantasia)  }}</strong>

        <p style="margin: 10px 0">CNPJ: {{formatarCpfCnpj(emp.cnpj)  }}</p>
        <p style="margin: 10px 0">CEP: {{formatarCep(emp.cep)  }}</p>
        <p style="margin: 0">Estado: {{ emp.estado }}</p>
      </li>
    </ul>
    <ng-template #semEmpresasModal>
      <span>Sem empresas associadas</span>
    </ng-template>
  </div>
</div>


<div *ngIf="fornecedoresPaginados.length > 0">
  <div class="pagination">
    <button (click)="anteriorPagina()" [disabled]="paginaAtual === 1">
      Anterior
    </button>

    <button
      *ngFor="let pagina of paginas"
      (click)="irParaPagina(pagina)"
      [class.ativa]="pagina === paginaAtual"
    >
      {{ pagina }}
    </button>

    <button (click)="proximaPagina()" [disabled]="paginaAtual === totalPaginas">
      Próxima
    </button>
  </div>
</div>
