
<div class="topo-titulo">
  <h2>Fornecedores</h2>
  <button class="cadastrar" (click)="cadastrar()">➕ Cadastrar Fornecedor</button>
</div>
<table>
<thead>
  <tr>
    <th>Nome</th>
    <th>CPF/CNPJ</th>
    <th>Email</th>
    <th>Cep</th>
    <th>Cidade</th>
    <th>Estado</th>
 
    <th>Rg</th>
    <th>Data Nascimento</th>
    <th>Empresa</th>
    <th>Ações</th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let fornecedor of fornecedores">
   
    <td>{{ fornecedor.nome }}</td>
    <td>{{ fornecedor.cpfCnpj }}</td>
    <td>{{ fornecedor.email }}</td>
    <td>{{ fornecedor.cep }}</td>
    <td>{{ fornecedor.cidade }}</td>
    <td>{{ fornecedor.estado }}</td>
    <td>{{ fornecedor.rg }}</td>
  
    <td> {{ formatarData(fornecedor?.dataNascimento)  }}</td>
    <td>
      <ul *ngIf="fornecedor.empresas?.length > 0; else semEmpresas">
        <li *ngFor="let empresas of fornecedor.empresas">
          <a [routerLink]="['/empresas', empresas.id]" style="text-decoration: none; color: blue;">
            {{ empresas.nomeFantasia }}
          </a>
        </li>
      </ul>
      <ng-template #semEmpresas>
        <span>Sem empresas associadas</span>
      </ng-template>
    </td>
    <td>
     
      <button class="btn visualizar" (click)="visualizar(fornecedor)">👁️ </button>
      <button class="btn editar" (click)="editar(fornecedor)">✏️ </button>
      <button  class="btn excluir" (click)="deletar(fornecedor.id)">🗑️ </button>
    </td>
  </tr>
</tbody>
</table>

<div class="modal" [class.show]="modalAberto">
  <div class="modal-conteudo">
    <span class="fechar" (click)="fecharModal()">&times;</span>
    <h3>Detalhes do Fornecedor</h3>
    <p><strong>ID:</strong> {{ fornecedorSelecionado?.id }}</p>
    <p><strong>Nome:</strong> {{ fornecedorSelecionado?.nome }}</p>
    <p><strong>CPF/CNPJ:</strong> {{ fornecedorSelecionado?.cpfCnpj }}</p>
    <p><strong>Email:</strong> {{ fornecedorSelecionado?.email }}</p>
    <p><strong>CEP:</strong> {{ fornecedorSelecionado?.cep }}</p>
    <p><strong>RG:</strong> {{ fornecedorSelecionado?.rg }}</p>
    <p><strong>Data Nascimento:</strong> {{ formatarData(fornecedorSelecionado?.dataNascimento) }}</p>
    <p><strong>Empresas:</strong></p>
<ul *ngIf="fornecedorSelecionado?.empresas?.length > 0; else semEmpresasModal">
  <li *ngFor="let emp of fornecedorSelecionado?.empresas">
    <strong>{{ emp.nomeFantasia }}</strong><br>
    CNPJ: {{ emp.cnpj }}<br>
    CEP: {{ emp.cep }}<br>
    Estado: {{ emp.estado }}
  </li>
</ul>
<ng-template #semEmpresasModal>
  <span>Sem empresas associadas</span>
</ng-template>  
</div>
</div>