<div class="topo-titulo">
  <h2>Empresas</h2>
  <input
    type="text"
    placeholder="Filtrar por nome ou CNPJ"
    [(ngModel)]="filtro"
    (ngModelChange)="aplicarFiltro()"
    name="filtro"
  />
  <button class="cadastrar" (click)="cadastrar()">➕ Cadastrar Empresa</button>
</div>

<div class="tabela-container">
  <table *ngIf="empresasPaginadas.length > 0">
    <thead>
      <tr>
        <th>Nome Fantasia</th>
        <th>CNPJ</th>
        <th>Cep</th>
        <th>Cidade</th>
        <th>Estado</th>
        <th>Fornecedor</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let empresa of empresasPaginadas">
        <td>{{capitalizarNome(empresa.nomeFantasia )}}</td>
        <td>{{ formatarCnpj(empresa.cnpj) }}</td>
        <td>{{ formatarCep(empresa.cep) }}</td>
        <td>{{ empresa.cidade }}</td>
        <td>{{ empresa.estado }}</td>
        <td>
          <ul
            *ngIf="empresa.fornecedores.length > 0; else semFornecedores"
            style="padding: 0; margin: 5px 0"
          >
            <li
              *ngFor="let fornecedores  of empresa.fornecedores "
              style="list-style-type: none; margin: 5px 0 0 0"
            >
              <a
              (click)="abrirModalFornecedor(fornecedores)"
                style="text-decoration: none; color: blue; cursor: pointer;"
              >
                {{capitalizarNome( fornecedores.nome) }}
              </a>
            </li>
          </ul>
          <a [routerLink]="['/fornecedores/cadastrar']">Cadastrar Fornecedores</a>
          <ng-template #semFornecedores>
            <span style="display: block; margin-bottom: 5px"
              >Sem fornecedores associadas</span
            >
          </ng-template>
        </td>





        <td>
          <button class="btn visualizar" (click)="visualizar(empresa)">👁️</button>
          <button class="btn editar" (click)="editar(empresa)">✏️</button>
          <button class="btn excluir" (click)="deletar(empresa)">🗑️</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="empresasPaginadas.length === 0" class="sem-registros">
    Nenhuma empresa encontrada.
  </div>
</div>

<div *ngIf="empresasPaginadas.length > 0">
  <div class="pagination">
    <button (click)="anteriorPagina()" [disabled]="paginaAtual === 1">Anterior</button>

    <button
      *ngFor="let pagina of paginas"
      (click)="irParaPagina(pagina)"
      [class.ativa]="pagina === paginaAtual"
    >
      {{ pagina }}
    </button>

    <button (click)="proximaPagina()" [disabled]="paginaAtual === totalPaginas">Próxima</button>
  </div>
  <div class="modal" *ngIf="modalAberto">
    <div class="modal-conteudo">
      <span class="fechar" (click)="fecharModal()">&times;</span>
      <h3>Detalhes do Fornecedor</h3>
      <p><strong>Nome:</strong> {{ fornecedorSelecionado?.nome }}</p>
      <p><strong>CPF/CNPJ:</strong> {{ fornecedorSelecionado?.cpfCnpj }}</p>
      <p><strong>Email:</strong> {{ fornecedorSelecionado?.email }}</p>
      <p><strong>CEP:</strong> {{ fornecedorSelecionado?.cep }}</p>
      <p><strong>RG:</strong>
        {{
          ehPessoaJuridica(fornecedorSelecionado?.cpfCnpj)
            ? "Pessoa Jurídica"
            : formatarRg(fornecedorSelecionado?.rg || '')
        }}
        
      </p>
      <p>
        <strong>Data Nascimento:</strong>
        {{
          ehPessoaJuridica(fornecedorSelecionado?.cpfCnpj)
            ? "Pessoa Jurídica"
            : formatarData(fornecedorSelecionado?.dataNascimento|| '')
        }}
  
       
      </p>
    

    </div>
  </div>
</div>

