<div class="container-com-menu">
  <!-- Menu lateral -->
  <aside class="menu-detalhes-empresa">
    <h3>🧾 Detalhes da Empresa</h3>
    <p>
      <strong>CNPJ:</strong><br />
      {{ formatarCnpj(empresa?.cnpj || "") }}
    </p>
    <p>
      <strong>Nome Fantasia:</strong><br />
      {{ capitalizarNome(empresa?.nomeFantasia) }}
    </p>
    <p>
      <strong>CEP:</strong><br />
      {{ formatarCep(empresa?.cep || "") }}
    </p>
    <p>
      <strong>Estado:</strong><br />
      {{ empresa?.estado }}
    </p>
    <div class="acoes-empresa">
      <button class="btn editar" (click)="editarEmpresa()">✏️ Editar</button>
      <button class="cadastrar" (click)="cadastrar()">➕ Cadastrar</button>
    </div>
  </aside>

  <section class="conteudo-principal">
    <div class="cabecalho">
      <h3>Fornecedores</h3>
      <button class="btn voltar" (click)="voltar()">🔙 Voltar</button>
    </div>

    <table
      *ngIf="empresa?.fornecedores?.length > 0; else nenhumFornecedor"
      class="tabela-fornecedores"
    >
      <thead>
        <tr>
          <th>Nome</th>
          <th>CPF/CNPJ</th>
          <th>Email</th>
          <th>RG</th>
          <th>Data Nascimento</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let forn of fornecedoresPaginados">
          <td>{{ capitalizarNome(forn.nome) }}</td>
          <td>{{ forn.cpfCnpj }}</td>
          <td>{{ forn.email }}</td>
          <td>
            {{
              ehPessoaJuridica(forn.cpfCnpj)
                ? "Pessoa Jurídica"
                : formatarRg(forn.rg)
            }}
          </td>
          <td>
            {{
              ehPessoaJuridica(forn.cpfCnpj)
                ? "Pessoa Jurídica"
                : formatarData(forn.dataNascimento)
            }}
          </td>
          <td>
            <button class="btn editar" (click)="editarFornecedor(forn)">
              ✏️
            </button>
            <button class="btn excluir" (click)="deletarFornecedor(forn.id)">
              🗑️
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <ng-template #nenhumFornecedor>
      <p class="mensagem">Sem fornecedores associados.</p>
    </ng-template>
    <div class="paginacao" *ngIf="paginaTotal > 1">
      <button (click)="paginaAtual > 1 && mudarPagina(paginaAtual - 1)">
        ⬅️
      </button>
      <span>Página {{ paginaAtual }} de {{ paginaTotal }}</span>
      <button
        (click)="paginaAtual < paginaTotal && mudarPagina(paginaAtual + 1)"
      >
        ➡️
      </button>
    </div>
  </section>
</div>
